
.container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/textura2.jpeg);
    background-size: cover;
  }
  .inicio {
    width: 320px;
    height: 570px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 20px;
    background-image: linear-gradient(180deg, rgba(177, 177, 177, 0.5) 0%, rgba(0, 0, 0, 0.699999988079071) 100%);
  }
  .imagen-menu1 {
    top: 22px;
    left: 189px;
    width: 111px;
    height: 494px;
    position: absolute;
    border-radius: 20px;
  }
  .logopng2 {
    background-image: url("../img/LOGO.png");
    top: 75px;
    left: 27px;
    width: 141px;
    height: 140px;
    position: absolute;
  }
  .text {
    top: 254px;
    left: 14px;
    color: rgba(247, 226, 249, 1);
    width: 291px;
    height: auto;
    position: absolute;
    font-size: 29px;
    font-style: SemiBold;
    text-align: left;
    font-family: Open Sans;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text2 {
    top: 379px;
    left: 45px;
    color: rgba(247, 226, 249, 1);
    width: 230px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Open Sans;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .text3 {
    font-weight: 400;
  }