.background{
    background: var(--background, #1C1B1F);
    height: 100%;
    display: flex;
    padding: 16px;
    flex-direction: column;
    gap: 16px;}




.hidden{
    display: none;
}

.pinkdisplay{
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 630px ;
    width:100% ;
    border-radius: 5px;
    background: var(--seconday, #CCC2DC);
    padding: 16px;



}

.fotos{
    background-image: url(../../public/display.png);
    display: flex;
    flex-direction: column;
    height: 85%;
    background-repeat: no-repeat;
    background-size:cover ;
    padding: 16px;
    justify-content: center;
    border-radius: 5px;
}


.logo{
    align-self: center;
    width: 280px;
    top: 60px;
}

.texto1{
    position: relative;
    text-align: center;
    color: var(--on-secondary, #332D41);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px;
}

.button{
    all: unset;
    border-radius: 5px;
    background: var(--secondary-container, #4A4458);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30), 0px 8px 12px 6px rgba(0, 0, 0, 0.15);
    display: flex;
    height: 78px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    color: var(--on-secondary-container, #E8DEF8);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (min-width: 565px) and (max-width: 600px) {
    .texto1{
        width: 300px;
        align-self: center;
    }
    .pinkdisplay{
        padding: 16px;
       
    }
 
}
@media screen and (min-width: 601px) and (max-width: 900px) {
    .texto1{
        font-size: 28px;
        
    }
    .logo{
        width: auto;
    }
}
@media screen and (min-width: 765px) and (max-width: 900px) {
    .texto1{
        bottom: 5px;
        
    }
    .fotos{
        height: 90%;
    }
}

@media screen and (min-width: 901px) and (max-width: 1240px) {
    .background{
        padding: 64px;
        
    }
    .texto1{
        font-size: 32px;
        display: flex;
        width: 400px;
        align-self: center;
        bottom: 5px;      
    }
    .logo{
        width: auto;
    }
    .pinkdisplay{
        padding: 16px;
       
    }
}

@media screen and (min-width: 1241px) and (max-width: 1440px) {


    .background{
        padding: 64px;
        
    }
    .texto1{
        font-size: 32px;
        display: flex;
        width: 400px;
        align-self: center;
        bottom: 7px;      
    }
    .logo{
        width: auto;
    }
    .pinkdisplay{
        padding: 16px;
       
    }
 
}
@media screen and (min-width: 1441px) {
    .background{
        padding-top: 80px;
        padding-left: 20%;
        padding-right: 20%;
        
    }
    .texto1{
        font-size: 32px;
        display: flex;
        width: 400px;
        align-self: center;
        bottom: 7px;      
    }
    .logo{
        width: auto;
    }
    .pinkdisplay{
        padding: 16px;
       
    }

}

