.backgroundd{
    display: flex;
    flex-direction: column;
    background: var(--background, #1C1B1F);
    padding: 0px;
    height: auto;
    gap: 10px;
}

.componente{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: var(--on-surface-variant, #CAC4D0);
    height: 100%;
    margin: 16px;
}

.nombrecuadro{
    display: flex;
    height: 49px;
    
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 5px;
    background: var(--surface-variant, #49454F);
    margin: 16px;
    
    /*texto*/
    color: var(--on-surface-variant, #CAC4D0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
}

.imagenCuadro{ 
    width: auto;
    height: auto;
    background-size:contain;
    border-radius: 5px;
    margin: 16px;
    align-self: stretch;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.propiedades{
    display: flex;
    height: auto;
    padding: 5px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 5px;
    background: var(--surface-variant, #49454F);
    padding-top: 0px;
    margin: 16px;
}

.propiedades ul li{
    margin: 10px;
    color: var(--on-surface-variant, #CAC4D0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: 90%;
    list-style: none;
    margin-left: 0px;

}

.listaDetalles{
    display: flex;
    flex-direction: column;
}

.detalleItem{
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-left: 0px;
    align-items: center;
    position: relative;
    top: 6px;   
}

.textoDetalle{
    color: var(--on-surface-variant, #CAC4D0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-style: normal;
    line-height: 18px; /* 90% */
}

.textoDetalle::before {
    content: '\2022'; 
    color: #CAC4D0; 
    margin-right: 10px; 
}

.textoDetalle2::before {
    content: '\2022'; /* codigo unicode para un punto (•) */
    color: #CAC4D0; 
    margin-right: 10px; 
}

.coloresCuadro{
    display: flex;
    gap: 5px;
}

.test{
    /*posiblemente borre esta clase no esta siendo esencial*/
    width: auto;
    display: flex;
    flex-direction: column;
}

.stickyButton.active{
    
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

}


.stickyButton{
    position: sticky;
    margin: 16px;

    border-radius: 5px;
    background: var(--surface-variant, #49454F);
        /* estilos  del boton */
        top: 0;
        z-index: 1;
        display: flex;
        height: 65px;
        padding: 10px 16px;
        align-items: center;
        border-radius: 5px;
        background: var(--surface-variant, #49454F);

        
        /*texto */
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 32px;
        color: var(--on-surface-variant, #CAC4D0);
        line-height: 18px; /* 56.25% */
        border-style: none;
    
    /* elevation5 */
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30), 0px 8px 12px 6px rgba(0, 0, 0, 0.15);

}


@media screen and (min-width: 660px){

    .textoDetalle::before {
        display: none;
    }
    
    .textoDetalle2::before {
       display: none;
    }

    .componente {

        display: grid;
        grid-template-columns: 55% 45%;
        grid-template-rows: 50% 50%;
        padding: 16px;
       
    }

    .nombrecuadro{

        grid-column: 2;
        position: relative;    
        justify-content: center;
        align-self: center;
        top: 30px;
        background-color: transparent;
        color: #49454F;
        font-size: 42px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 28.125% */
    }
    
    .imagenCuadro {

        display: flex;   
        grid-column: 1;   
        order: 0;    
        grid-column: 1;
        width: 100%;
        grid-area: 1 / 1 / 3 / 2;
        margin: 0px; 
        border: #49454F solid 2px;
    }
    .propiedades{

        display: flex;
        align-self: center;
        position: relative;
        grid-column: 2;
        height: auto;
        align-self: self-start;
        justify-content: center;
        width: auto;
        margin-top: 0px;
        margin-right: 0px;
    }

    .componente{

        margin: 16px;  
        margin-left:0px  ;

        margin-right: 0px;}

    .coloresCuadro{

        min-width: 0px;
        display: flex;
        flex: 1
        ;
        flex-shrink: 1;
        gap: 2px;
        margin-right: 5px;
    }
    .detalleItem{

        gap: 5px;
    }
}

@media screen and (min-width: 661px) and (max-width: 900px) {

    .componente{

        margin: 16px;  
        margin-left:16px;

        margin-right: 16px;
    }

}

@media screen and (min-width: 900px) and (max-width: 1240px) {

    .backgroundd{
        padding: 64px;
        padding-top: 0px;
        padding-bottom: 32px;
    }

    .stickyButton{
        margin: 0px;
    }



}

@media screen and (min-width: 1241px) and (max-width: 1440px) {

    .backgroundd{
        padding-left: 128px;
        padding-right: 128px;
       
    }

    .stickyButton{
        margin: 0px;
    }


}

@media screen and (min-width: 1441px){

    .backgroundd {
        padding-top: 32px;
        padding-left: 20%;
        padding-right: 20%;
        gap: 0px;
    }

    .stickyButton{
        margin: 0px;
    }


}
  



